.navbar {
	min-height: 80px;
}
.logo {
	padding-bottom: 10px;
    padding-top: 10px;
}
.logo img {
	max-width: 100%;
}
.navbar-default {
	background-color: #fff;
}
.navbar-nav > li > a {
	border-top: 5px solid transparent;
	text-transform: uppercase;
	line-height: 60px;
	font-weight: bold;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
	color: #306E79;
	border-top: 5px solid #306E79;
}
